{% extends 'Esender/base.html' %}
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2 class="display-4">ОТЧЕТ ПО РАССЫЛКАМ</h2>
        <p class="lead">Здесь вы можете увидеть статистику своих рассылок</p>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Название рассылки</th>
                        <th scope="col">Время последнего отправления</th>
                        <th scope="col">Статус отправления</th>
                        <th scope="col">Ответ почтового сервера</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.mailing_settings }}</td>
                            <td>{{ object.date }}</td>
                            <td>{{ object.status }}</td>
                            <td>{{ object.server_response }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}